.topbar-logo {
    margin-left: 70px;
}
.topbar-header {
    background-color: lightgray;
    height: 150px;
    display: flex;
    align-items: center;
    box-shadow: -1px 0 5px 0 whitesmoke;
    margin-bottom: 20px;
}
.topbar-title {
    color: black;
    display: flex;
    margin-left: 20px;
    margin-bottom: 50px;
}

.topbar-helper {
    display: flex;
    margin-top: 50px;
    color: black;
    margin-left: -250px;
}